<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Creation Garage</title>
</head>

<body>
<div layout:fragment="content">
    <main class="container mt-5">

        <h6><a th:href="@{/garages}">Retour aux garages</a></h6>

<!--        <div class="d-flex justify-content-center align-items-center">-->
<!--            <div class="row w-75 mt-lg-5">-->
                <div class="mt-lg-5">
                    <h3>Création d'un garage</h3>
                </div>

                <form action='#' th:action="@{/createGarage}" method='post' class="box" th:object="${garageDTO}">

                    <div>
                        <label for="nomGarage" class="form-label">Nom du garage</label>
                        <input id="nomGarage" class="form-control" type="text" th:field="*{nomGarage}">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('nomGarage')}" th:errors="*{nomGarage}">Erreur
                            de nom
                        </div>
                    </div>
                    <div>
                        <label class="form-label">Mail du responsable</label>
                        <input id="mailResp" class="form-control" type="email" th:field="*{mailResp}">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('mailResp')}" th:errors="*{mailResp}">Erreur
                            de mail
                        </div>
                    </div>

                    <!--            <hr class="my-4 mt-8">-->
                    <div class="my-3 mt-4">
                        <h5>Adresse du client</h5>
                    </div>
                    <div>
                        <label for="numeroDeRue" class="form-label">N° de rue</label>
                        <input id="numeroDeRue" class="form-control" type="text" th:field="*{adresse.numeroDeRue}" required>
                        <div class="is-invalid bg-light-subtle" th:if="${#fields.hasErrors('adresse.numeroDeRue')}" th:errors="*{adresse.numeroDeRue}">Erreur
                            de numéro de rue dans l'adresse
                        </div>
                    </div>

                    <div>
                        <label for="rue" class="form-label">Nom de la rue</label>
                        <input id="rue" class="form-control" type="text" th:field="*{adresse.rue}" required>
                        <div class="is-invalid" th:if="${#fields.hasErrors('adresse.rue')}" th:errors="*{adresse.rue}">Erreur
                            du nom de la rue dans l'adresse
                        </div>
                    </div>

                    <div>
                        <label for="cp" class="form-label">Code postal</label>
                        <input id="cp" class="form-control" type="text" th:field="*{adresse.cp}" placeholder="00000"  pattern="[0-9]{5}" required>
                        <div class="is-invalid" th:if="${#fields.hasErrors('adresse.cp')}" th:errors="*{adresse.cp}">Erreur
                            de code postal
                        </div>
                    </div>

                    <div>
                        <label for="ville" class="form-label">Ville</label>
                        <input id="ville" class="form-control" type="text" th:field="*{adresse.ville}" required>
                        <div class="is-invalid" th:if="${#fields.hasErrors('adresse.ville')}" th:errors="*{adresse.ville}">Ville inconnue
                        </div>
                    </div>

                    <hr class="my-4 mt-5">
                    <button class="w-100 btn btn-primary btn-lg " type="submit">Valider</button>
                </form>
<!--            </div>-->
<!--        </div>-->


        <!--        &lt;!&ndash;    <div class="container">&ndash;&gt;-->
        <!--        <h4><a th:href="@{/garages}"> Retour à la liste des garages</a></h4>-->

        <!--        <form action='#' th:action="@{/createGarage}" method='post' class="box" th:object="${garageDTO}">-->

        <!--            <div class="field">-->
        <!--                <label class="label">nom garage</label>-->
        <!--                <div class="control">-->
        <!--                    <input id="nomGarage" class="input" type="text" th:field="*{nomGarage}">-->
        <!--                    <div class="bg-danger-subtle" th:if="${#fields.hasErrors('nomGarage')}" th:errors="*{nomGarage}">Erreur-->
        <!--                        de nom-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="field">-->
        <!--                <label class="label">mail</label>-->
        <!--                <div class="control">-->
        <!--                    <input id="mailResp" class="input" type="email" th:field="*{mailResp}">-->
        <!--                    <div class="bg-danger-subtle" th:if="${#fields.hasErrors('mailResp')}" th:errors="*{mailResp}">Erreur-->
        <!--                        de nom-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="field">-->
        <!--                <label class="label">N° de rue</label>-->
        <!--                <div class="control">-->
        <!--                    <input class="input" type="text" th:field="*{adresse.numeroDeRue}">-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="field">-->
        <!--                <label class="label">Nom de rue</label>-->
        <!--                <div class="control">-->
        <!--                    <input class="input" type="text" th:field="*{adresse.rue}">-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="field">-->
        <!--                <label class="label">CP</label>-->
        <!--                <div class="control">-->
        <!--                    <input class="input" type="text" th:field="*{adresse.cp}">-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="field">-->
        <!--                <label class="label">Ville</label>-->
        <!--                <div class="control">-->
        <!--                    <input class="input" type="text" th:field="*{adresse.ville}">-->
        <!--                </div>-->
        <!--            </div>-->

        <!--            <div class="field is-grouped">-->
        <!--                <div class="control">-->
        <!--                    <button class="button is-link">Submit</button>-->
        <!--                </div>-->
        <!--            </div>-->

        <!--        </form>-->
    </main>
</div>
</body>
</html>
