<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Garages</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>

<body>
<div th:fragment="content">
    <main class="container">
        <h2>Détails d'un garage</h2>
        <a th:text="Retour" th:href="@{/garages}"></a>

        <div class="row">
            <div class="col-md-6">
                <h3>Information garage</h3>
                <p>id : [[${garage.id}]]</p>
                <p>nom du garage : [[${garage.nomGarage}]]</p>
                <p>Mail du responsable : [[${garage.mailResp}]]</p>
            </div>
            <div class="col-md-6">
                <h4>Adresse</h4>
                <p>N° de rue : [[${garage.adresse.numeroDeRue}]]</p>
                <p>Nom de rue : [[${garage.adresse.rue}]]</p>
                <p>CP : [[${garage.adresse.cp}]] </p>
                <p>Ville : [[${garage.adresse.ville}]]</p>
            </div>
        </div>
    </main>
</div>
</body>
</html>
