<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Creation Dossier</title>
    <script>
        // formatte l'immatriculation en ajoutant des tirets en en mettant en majuscule, avec un format particulier
        function formatImmatriculation(input) {
            let value = input.value.toUpperCase().replace(/[^A-Z0-9]/g, '');
            if (value.length > 2) {
                value = value.slice(0, 2) + '-' + value.slice(2);
            }
            if (value.length > 6) {
                value = value.slice(0, 6) + '-' + value.slice(6);
            }
            if (value.length > 8) {
                value = value.slice(0, 9);
            }
            input.value = value;
        }

        //verifie dynamiquement l'affichage d'erreur d'immatriculation et en empeche la saisie
        function checkImmat(input) {
            let value = input.value.toUpperCase().replace(/[^A-Z0-9]/g, '');
            let isValid = true;

            if (value.length > 2) {
                value = value.slice(0, 2) + '-' + value.slice(2);
            }
            if (value.length > 6) {
                value = value.slice(0, 6) + '-' + value.slice(6);
            }
            if (value.length > 8) {
                value = value.slice(0, 9);
            }
//check erreur de lettre
            for (let i = 0; i < value.length; i++) {
                if (i < 2 || (i > 6 && i <= 9)) {
                    if (!/[A-Z]/.test(value[i])) {
                        isValid = false;
                        break;
                    }
                    //check erreur de chiffre
                } else if (i > 2 && i < 6) {
                    if (!/[0-9]/.test(value[i])) {
                        isValid = false;
                        break;
                    }
                }
            }

            if (isValid) {
                input.classList.remove('validation-champ-surimpression');
                let errorElement = document.getElementById('immatriculationError');
                if (errorElement) {
                    errorElement.remove();
                    //bouton validation
                    // document.getElementById('immatriculationExisteError').style.display = 'none';
                    // document.getElementById('submitButton').disabled = false;
                }
            } else {
                input.classList.add('validation-champ-surimpression');
                if (!document.getElementById('immatriculationError')) {
                    let errorDiv = document.createElement('div');
                    errorDiv.id = 'immatriculationError';
                    errorDiv.className = 'is-invalid validation-champ-incorrect';
                    errorDiv.textContent = "Le format requis doit être de type 'AA-123-AA'. Merci de vérifier l'immatriculation saisie.";
                    input.parentNode.appendChild(errorDiv);
//bouton validation
//                     document.getElementById('immatriculationExisteError').style.display = 'block';
//                     document.getElementById('submitButton').disabled = true;
                }
            }

            input.value = value;
        }
// grise le bouton de validation si l'immat existe
        function checkImmatExists(input) {
            let immatriculation = input.value;
            fetch(`/queries/vehiculeExists/${immatriculation}`)
                .then(response => response.json())
                .then(data => {
                    if (data) {
                        document.getElementById('immatriculationExisteError').style.display = 'block';
                        document.getElementById('submitButton').disabled = true;
                    } else {
                        document.getElementById('immatriculationExisteError').style.display = 'none';
                        document.getElementById('submitButton').disabled = false;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        // formatte le numero de tel
        function formatTel(input) {
            // Remove all non-digit characters
            let cleaned = input.value.replace(/\D/g, '');

            // Limite à 10 vhiffres pouvant etre saisis
            if (cleaned.length > 10) {
                cleaned = cleaned.substring(0, 10);
            }

            // Formatte le numéro de téléphone de 2x5 chiffres
            // let formatted = cleaned.match(/.{1,2}/g)?.join(' ') || '';

            input.value = cleaned;
        }

        //formatte le code postal
        function formatCp(input) {
            // Remove all non-digit characters
            let cleaned = input.value.replace(/\D/g, '');

            // Limite à 5 chiffres pouvant etre saisis
            if (cleaned.length > 5) {
                cleaned = cleaned.substring(0, 5);
            }
            input.value = cleaned;
        }
    </script>
</head>

<body>
<div layout:fragment="content">
    <!--<div th:fragment="~{content}"></div>-->
    <main class="container">
        <h6><a th:href="@{/dossiers}"> Retour à la liste des dossiers</a></h6>

        <div class="py-5 text-center">
            <!--            <img class="d-block mx-auto mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
            <h2>Dossier</h2>
        </div>

        <div class="row g-5">
            <div class="">
                <form action='#' th:action="@{/createDossier}" method='post' th:object="${dossierDTO}">
                    <div class="row g-3">

                        <div class="">
                            <label for="nomDossier" class="form-label">Nom du dossier</label>
                            <input id="nomDossier" class="form-control" type="text" th:field="*{nomDossier}"
                                   th:classappend="${#fields.hasErrors('nomDossier')} ? 'validation-champ-surimpression'" required>
                            <div class="validation-champ-incorrect" th:if="${#fields.hasErrors('nomDossier')}" th:errors="*{nomDossier}">Erreur
                                de nom dossier
                            </div>
                        </div>
                        <!--                        Test des erreurs de date. A Garder!-->
                        <!--                        <div class="col-sm-6">-->
                        <!--                            <label class="form-label">Date de mise en circulation</label>-->
                        <!--                            <input id="dateCreationDossier" class="form-control" type="date" th:field="*{dateCreationDossier}"-->
                        <!--                                   required>-->
                        <!--                            <div class="is-invalid" th:if="${#fields.hasErrors('dateCreationDossier')}"-->
                        <!--                                 th:errors="*{dateCreationDossier}">Erreur de date de création de dossier-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                        <div class="col-sm-6">-->
                        <!--                            <label class="form-label">Date de mise en circulation</label>-->
                        <!--                            <input id="dateModificationDossier" class="form-control" type="date" th:field="*{dateModificationDossier}"-->
                        <!--                                   required>-->
                        <!--                            <div class="is-invalid" th:if="${#fields.hasErrors('dateModificationDossier')}"-->
                        <!--                                 th:errors="*{dateModificationDossier}">Erreur de date de création de dossier-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <div class="col-sm-3">
                            <label for="dossierStatus" class="form-label">Etat du dossier</label>
                            <select id="dossierStatus" class="form-select" th:field="*{dossierStatus}" required>
                                <option th:each="status : ${dossierStatuses}" th:value="${status}" th:text="${status}" th:selected="${status == 'OUVERT'}">
                                    Status
                                </option>
                            </select>
                            <div class="validation-champ-incorrect" th:if="${#fields.hasErrors('dossierStatus')}" th:errors="*{dossierStatus}">Erreur
                                du status du dossier client
                            </div>
                        </div>
                    </div>

                    <hr class="my-4 mt-5">
                    <h4 class="mb-3">Client</h4>

                    <div class="row g-3">

                        <div class="col-sm-6">
                            <label for="nomClient" class="form-label">Nom du client</label>
                            <input id="nomClient" class="form-control" type="text" th:field="*{client.nomClient}"
                                   th:classappend="${#fields.hasErrors('client.nomClient')} ? 'validation-champ-surimpression'" required>
                            <div class="validation-champ-incorrect" th:if="${#fields.hasErrors('client.nomClient')}" th:errors="*{client.nomClient}">Erreur
                                de nom client
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="prenomClient" class="form-label">Prénom du client</label>
                            <input id="prenomClient" class="form-control" type="text" th:field="*{client.prenomClient}"
                                   th:classappend="${#fields.hasErrors('client.prenomClient')} ? 'validation-champ-surimpression'" required>
                            <div class="validation-champ-incorrect" th:if="${#fields.hasErrors('client.prenomClient')}" th:errors="*{client.prenomClient}">
                                Erreur
                                de prenom client
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <label for="mailClient" class="form-label">Email du client </label>
                            <input id="mailClient" class="form-control" type="email" th:field="*{client.mailClient}"
                                   th:classappend="${#fields.hasErrors('client.mailClient')} ? 'validation-champ-surimpression'" placeholder="you@example.com"
                                   required>
                            <div class="validation-champ-incorrect" th:if="${#fields.hasErrors('client.mailClient')}" th:errors="*{client.mailClient}">Entrez un
                                email valide
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="telClient" class="form-label">Téléphone du client</label>
                            <input id="telClient" class="form-control" type="tel" th:field="*{client.telClient}"
                                   th:classappend="${#fields.hasErrors('client.telClient')} ? 'validation-champ-surimpression'" oninput="formatTel(this)"
                                   required>
                            <div class="validation-champ-incorrect" th:if="${#fields.hasErrors('client.telClient')}" th:errors="*{client.telClient}">Entrez un
                                numéro de
                                téléphone valide
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="statusClient" class="form-label">Situation du client</label>
                            <select id="statusClient" class="form-select" th:field="*{client.clientStatus}" required>
                                <option th:each="status : ${clientStatuses}" th:value="${status}" th:text="${status}" th:selected="${status == 'ACTIF'}">
                                    Status
                                </option>
                            </select>
                            <div class="validation-champ-incorrect" th:if="${#fields.hasErrors('client.clientStatus')}" th:errors="*{client.clientStatus}">
                                Erreur du statut du client
                            </div>
                        </div>

                        <div class=" mt-4 text-body-tertiary">
                            <h5>Adresse du client</h5>
                        </div>
                        <div class="col-sm-3">
                            <label for="numeroDeRue" class="form-label">N° de rue</label>
                            <input id="numeroDeRue" class="form-control" type="text" th:field="*{client.adresse.numeroDeRue}"
                                   th:classappend="${#fields.hasErrors('client.adresse.numeroDeRue')} ? 'validation-champ-surimpression'"
                                   placeholder="1234 bis, ter"
                                   required>
                            <div class="validation-champ-incorrect" th:if="${#fields.hasErrors('client.adresse.numeroDeRue')}"
                                 th:errors="*{client.adresse.numeroDeRue}">Erreur de numéro de rue dans l'adresse
                            </div>
                        </div>

                        <div class="col-sm-9">
                            <label for="rue" class="form-label">Nom de la rue</label>
                            <input id="rue" class="form-control" type="text" th:field="*{client.adresse.rue}"
                                   th:classappend="${#fields.hasErrors('client.adresse.rue')} ? 'validation-champ-surimpression'"
                                   placeholder="rue, avenue, boulevard..." required>
                            <div class="validation-champ-incorrect" th:if="${#fields.hasErrors('client.adresse.rue')}" th:errors="*{client.adresse.rue}">Erreur
                                du nom de la rue dans l'adresse
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="address2" class="form-label">Supplément d'adresse <span class="text-body-secondary">(Optionnel)</span></label>
                            <input type="text" class="form-control" id="address2" placeholder="Appartement, suite, etc"
                                   th:field="*{client.adresse.complementAdresse}"
                                   th:classappend="${#fields.hasErrors('client.adresse.complementAdresse')} ? 'validation-champ-surimpression'">
                            <div class="validation-champ-incorrect" th:if="${#fields.hasErrors('client.adresse.complementAdresse')}"
                                 th:errors="*{client.adresse.complementAdresse}">Erreur
                                d'information dans l'adresse complémentaire
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="cp" class="form-label">Code postal</label>
                            <input id="cp" class="form-control" type="text" th:field="*{client.adresse.cp}" placeholder="12345" pattern="[0-9]{5}"
                                   th:classappend="${#fields.hasErrors('client.adresse.cp')} ? 'validation-champ-surimpression'" oninput="formatCp(this)"
                                   required>
                            <div class="validation-champ-incorrect" th:if="${#fields.hasErrors('client.adresse.cp')}" th:errors="*{client.adresse.cp}">Erreur
                                de code postal
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="ville" class="form-label">Ville</label>
                            <input id="ville" class="form-control" type="text" th:field="*{client.adresse.ville}"
                                   th:classappend="${#fields.hasErrors('client.adresse.ville')} ? 'validation-champ-surimpression'" required>
                            <div class="validation-champ-incorrect" th:if="${#fields.hasErrors('client.adresse.ville')}" th:errors="*{client.adresse.ville}">
                                Ville inconnue
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label for="pays" class="form-label">Pays</label>
                            <select id="pays" name="pays" class="form-select" th:field="*{client.adresse.pays}"
                                    required>
                                <option th:each="pays : ${paysList}"
                                        th:value="${pays}"
                                        th:text="${pays}"
                                        th:if="${pays} == ${valeurPaysParDefaut}" selected="selected">
                                </option>
                                <option th:each="pays : ${paysList}"
                                        th:value="${pays}"
                                        th:text="${pays}"
                                        th:unless="${pays} == ${valeurPaysParDefaut}">
                                </option>
                            </select>
                        </div>
                    </div>


                    <hr class="my-4">
                    <h4 class="mb-3">Véhicule</h4>
                    <div class="">
                        <label for="immatriculation" class="form-label">Immatriculation du véhicule</label>
                        <input id="immatriculation" class="form-control" type="text" th:field="*{vehicule.immatriculationVehicule}"
                               th:classappend="${T(fr.cdrochon.thymeleaffrontend.dtos.vehicule.create.ThymeleafImmatriculationUtils).getValidationCssClass(#fields.hasErrors('vehicule.immatriculationVehicule'), immatriculationExisteError != null)}"
                               placeholder="AA-123-AA" oninput="formatImmatriculation(this); checkImmat(this); checkImmatExists(this)" value="" required>
                        <div id="immatriculationError" class="is-invalid validation-champ-incorrect"
                             th:if="${#fields.hasErrors('vehicule.immatriculationVehicule')}">
                            Le format requis doit être de type 'AA-123-AA'. <br> Merci de vérifier l'immatriculation saisie.
                        </div>
                        <div id="immatriculationExisteError" th:if="${immatriculationExisteError != null}" class="is-invalid validation-champ-incorrect">
                            <span th:text="${immatriculationExisteError}">Immat existante</span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="dateMiseEnCirculationVehicule" class="form-label">Date de mise en circulation</label>
                        <input id="dateMiseEnCirculationVehicule" class="form-control" type="date" th:field="*{vehicule.dateMiseEnCirculationVehicule}"
                               required>
                        <div class="validation-champ-incorrect" th:if="${#fields.hasErrors('vehicule.dateMiseEnCirculationVehicule')}"
                             th:errors="*{vehicule.dateMiseEnCirculationVehicule}">Erreur de date de mise en circulation
                        </div>
                    </div>
                    <div>
                        <label for="status" class="form-label">Statut du véhicule</label>
                        <select id="status" class="form-select" th:field="*{vehicule.vehiculeStatus}" required>
                            <option th:each="status : ${vehiculeStatuses}" th:value="${status}" th:text="${status}" th:selected="${status == 'EN_ATTENTE'}">
                                Status
                            </option>
                        </select>
                        <div class="validation-champ-incorrect" th:if="${#fields.hasErrors('vehicule.vehiculeStatus')}" th:errors="*{vehicule.vehiculeStatus}">
                            Erreur du statut du document
                        </div>
                    </div>

                    <hr class="my-4 mt-5">

                    <button class="w-100 btn btn-primary btn-lg" type="submit">Valider le dossier</button>
                </form>
            </div>
        </div>
    </main>
</div>
<!--<script>-->
<!--    document.addEventListener('DOMContentLoaded', function () {-->
<!--        // Scroll vers le premier champ en erreur-->
<!--        const errorField = document.querySelector('.validation-champ-surimpression');-->
<!--        if (errorField) {-->
<!--            errorField.scrollIntoView({behavior: 'smooth', block: 'center'});-->
<!--        }-->
<!--    });-->
<!--</script>-->


</body>
</html>

