<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="Dossier"></title>
</head>

<body>
<div layout:fragment="content">
    <main class="container mt-5">
        <h6 class="mb-5">
            <a th:href="@{/dossiers}">Retour à la liste des dossiers
            </a>
        </h6>
        <h2>Détails du dossier</h2>

        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="container-fluid ">
                <h1 class="display-5 fw-bold text-center pb-4 h1-titre-trop-long">[[${#strings.toUpperCase(dossier.nomDossier)}]]</h1>
                <p class="col-md-8 fs-4 fst-italic">id : [[${dossier.id}]]</p>
                <p class="col-md-8 fs-4">Dossier: [[${#strings.capitalize(dossier.nomDossier)}]]</p>
                <p class="col-md-8 fs-4">Date de création : [[${#temporals.format(dossier.dateCreationDossier, 'dd MMMM yyyy')}]]</p>
                <p class="col-md-8 fs-4">Date de modification : [[${#temporals.format(dossier.dateModificationDossier, 'dd MMMM yyyy')}]]</p>
                <p class="col-md-8 fs-4">Statut du dossier : [[${dossier.dossierStatus}]]</p>
            </div>
        </div>

        <div class="row align-items-md-stretch mt-3">
            <div class="w-100">
                <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                    <h2 class="pb-2">Véhicule</h2>
                    <hr class="mt-1 mb-3">
                    <p class="col-md-8 fs-5">Immatriculation du véhicule : [[${dossier.vehicule.immatriculationVehicule}]]</p>
                    <p class="col-md-8 fs-5">Date de mise en circulation : [[${#temporals.format(dossier.vehicule.dateMiseEnCirculationVehicule, 'dd MMMM yyyy')}]]</p>
                    <p class="col-md-8 fs-5">Etat du véhicule : [[${dossier.vehicule.vehiculeStatus}]]</p>
                </div>
            </div>
        </div>

        <div class="row align-items-md-stretch mt-4">
            <div class="w-100">
                <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                    <h2 class="pb-2">Propriétaire du véhicule</h2>
                    <hr class="mt-1 mb-3">
                    <p class="col-md-8 fs-5">Nom et prénom : [[${dossier.client.prenomClient}]]&nbsp;[[${#strings.toUpperCase(dossier.client.nomClient)}]]</p>
                    <p class="col-md-8 fs-5" >Situation  du client : [[${dossier.client.clientStatus}]]</p>
                    <p class="col-md-8 fs-5">Email : [[${dossier.client.mailClient}]]</p>
                    <p class="col-md-8 fs-5">Téléphone : [[${dossier.client.telClient}]]</p>
                    <br>
                    <h5 class="pb-2 fst-italic">Adresse</h5>
                    <hr class="mt-1 mb-3">
                    <p class="col-md-8 fs-5">[[${dossier.client.adresse.numeroDeRue}]], &nbsp; [[${dossier.client.adresse.rue}]]</p>
                    <p class="col-md-8 fs-5">[[${dossier.client.adresse.complementAdresse}]]</p>
                    <p class="col-md-8 fs-5">[[${dossier.client.adresse.cp}]]&nbsp; [[${#strings.toUpperCase(dossier.client.adresse.ville)}]]</p>
                    <p class="col-md-8 fs-5">[[${dossier.client.adresse.pays}]]</p>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>
