# ===== Java / Maven =====
target/
*.jar
*.war
*.ear

# ===== Logs =====
*.log

# ===== IDE =====
.idea/
.vscode/
*.iml
*.iws
*.ipr
out/
.classpath
.project
.settings
.factorypath
.sts4-cache
.springBeans
.apt_generated

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Docker (data locaux éventuels) =====
**/docker-data/
**/data/

# ===== Configs locales (secrets) =====
src/main/resources/application-local.properties
src/main/resources/application-prod.properties
thymeleaf-frontend/src/main/resources/application-local.properties
thymeleaf-frontend/src/main/resources/application-prod.properties

