<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Véhicules</title>
</head>
<body>
<div layout:fragment="content">
    <main class="container">
        <h3>Liste des véhicules</h3>
        <div class="ps-3">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Immat</th>
                            <th>Date de mise en circulation</th>
                            <th>Status du vehicule</th>
                            <!--                        <th>Type</th>-->
                            <!--                        <th>Marque</th>-->
                            <!--                        <th>Climatisation</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="v:${vehicules}">

                            <td th:if="${v.idVehicule != null}">
                                <a href="#" th:href="@{/vehicule/{id}(id=${v.idVehicule})}" class="text-decoration-none">[[${v.idVehicule}]]</a>
                            </td>
                            <td th:if="${v.idVehicule == null}" class="text-decoration-none">N/A</td>
                            <td th:if="${v.immatriculationVehicule != null}">
                                <a href="#" th:href="@{/vehicule/{id}(id=${v.idVehicule})}" class="text-decoration-none">[[${v.immatriculationVehicule}]]</a>
                            </td>
                            <td th:if="${v.dateMiseEnCirculationVehicule != null}"><a href="#" th:href="@{/vehicule/{id}(id=${v.idVehicule})}"
                                                                                      class="text-decoration-none">[[${v.dateMiseEnCirculationVehicule}]]</a>
                            </td>
                            <td th:if="${v.vehiculeStatus != null}"><a href="#" th:href="@{/vehicule/{id}(id=${v.idVehicule})}" class="text-decoration-none">[[${v.vehiculeStatus}]]</a>
                            </td>


                            <!--                        <td th:text="${v.typeVehicule}"></td>-->
                            <!--                        <td th:text="${v.marqueVehicule}"></td>-->
                            <!--                        <td th:text="${v.climatisationVehicule}"></td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>
