<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Véhicules</title>
</head>

<body>
<div layout:fragment="content">
    <main class="container mt-5">

        <h6 class="mb-5">
            <a th:href="@{/vehicules}">Retour à la liste des véhicules
            </a>
        </h6>
        <h2>Détails du véhicule</h2>

        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="container-fluid ">
                <h1 class="display-5 fw-bold text-center pb-4 h1-titre-trop-long">[[${#strings.toUpperCase(vehicule.immatriculationVehicule)}]]</h1>
                <p class="col-md-8 fs-4 fst-italic">id : [[${vehicule.id}]]</p>
                <p class="col-md-8 fs-4">Immatriculation : [[${vehicule.immatriculationVehicule}]]</p>
                <p class="col-md-8 fs-4">Date de mise en circulation : [[${#temporals.format(vehicule.dateMiseEnCirculationVehicule,
                    'dd MMMM yyyy')}]]</p>
                <p class="col-md-8 fs-4">Status du vehicule : [[${vehicule.vehiculeStatus}]]</p>
            </div>
        </div>
    </main>
</div>
</body>
</html>
