<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Véhicules</title>
</head>

<body>
<div layout:fragment="content">
    <main class="container">
        <h2>Détails d'un véhicule</h2>
        <a th:text="Retour" th:href="@{/vehicules}"></a>

        <div class="row">
            <div class="col-md-6">
                <h3>Information vehicule</h3>
                <p>id : [[${vehicule.idVehicule}]]</p>
                <p>Immatriculation : [[${vehicule.immatriculationVehicule}]]</p>
                <p>Date de mise en circulation : [[${vehicule.dateMiseEnCirculationVehicule}]]</p>
                <p>Status du vehicule : [[${vehicule.vehiculeStatus}]]</p>
            </div>
        </div>
    </main>
</div>
</body>
</html>
