<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Résultat Recherche SIV</title>
</head>
<body>
<div layout:fragment="content">
    <main class="container mt-5">
        <h6><a th:href="@{/vehicules}">Retour aux véhicules</a></h6>
        <div class="mt-lg-5">
            <h3>Résultat de la recherche</h3>
        </div>
        <div class="card w-100">
            <div class="card-body">
                <p><strong>Immatriculation:</strong> <span th:text="${vehiculeConverted.immatriculation}"></span></p>
                <p><strong>Marque:</strong> <span th:text="${vehiculeConverted.marque}"></span></p>
                <p><strong>Modèle:</strong> <span th:text="${vehiculeConverted.modele}"></span></p>
                <p><strong>Date de mise en circulation:</strong> <span th:text="${vehiculeConverted.dateDeMiseEnCirculation}"></span></p>
                <p><strong>Date de validité du contrôle technique:</strong> <span th:text="${vehiculeConverted.dateValiditeControleTechnique}"></span></p>
                <p><strong>Type de carburant:</strong> <span th:text="${vehiculeConverted.typeCarburant}"></span></p>
                <p><strong>Climatisation:</strong> <span th:text="${vehiculeConverted.climatisation ? 'Oui' : 'Non'}"></span></p>
            </div>
        </div>
    </main>
</div>
</body>
</html>
