<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
</head>

<body>
<div layout:fragment="content">
    <main class="container">
        <h4>Liste des Clients</h4>
        <div class="ps-3">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Email</th>
                            <th>Téléphone</th>
                            <th>numero</th>
                            <th>rue</th>
                            <th>CP</th>
                            <th>Ville</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="c:${clients}">

                            <td th:if="${c.id != null}">
                                <a href="#" th:href="@{/client/{id}(id=${c.id})}" class="text-decoration-none">[[${c.id}]]</a>
                            </td>
                            <td th:if="${c.id == null}" class="text-decoration-none">N/A</td>
                            <td th:if="${c.nomClient != null}">
                                <a href="#" th:href="@{/client/{id}(id=${c.id})}" class="text-decoration-none">[[${c.nomClient}]]</a></td>
                            <td th:if="${c.prenomClient != null}"><a href="#" th:href="@{/client/{id}(id=${c.id})}" class="text-decoration-none">[[${c.prenomClient}]]</a>
                            </td>
                            <td th:if="${c.mailClient != null}"><a href="#" class="text-decoration-none">[[${c.mailClient}]]</a></td>
                            <td th:if="${c.telClient != null}"><a href="#" class="text-decoration-none">[[${c.telClient}]]</a></td>

                            <td th:if="${c.adresse != null}" th:text="${c.adresse.numeroDeRue}" class="ps-2"></td>
                            <td th:if="${c.adresse == null}" class="ps-2">N/A</td>
                            <td th:if="${c.adresse != null}" th:text="${c.adresse.rue}" class="ps-2"></td>
                            <td th:if="${c.adresse == null}" class="ps-2">N/A</td>
                            <td th:if="${c.adresse != null}" th:text="${c.adresse.cp}" class="ps-2"></td>
                            <td th:if="${c.adresse == null}" class="ps-2">N/A</td>
                            <td th:if="${c.adresse != null}" th:text="${c.adresse.ville}" class="ps-2"></td>
                            <td th:if="${c.adresse == null}" class="ps-2">N/A</td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>
