<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Creation Client</title>
</head>

<body>
<div layout:fragment="content">

    <main class="container mt-5">
        <h6><a th:href="@{/clients}"> Retour à la liste des clients</a></h6>
        <div class="mt-lg-5">
            <h3>Création d'un client</h3>
        </div>

        <form action='#' th:action="@{/createClient}" method='post' th:object="${clientDTO}">
            <!-- csrf-->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

            <div>
                <label for="nomClient" class="form-label">Nom du client</label>
                <input id="nomClient" class="form-control" type="text" th:field="*{nomClient}"
                       th:classappend="${#fields.hasErrors('nomClient')} ? 'validation-champ-surimpression'" required>
                <div class="validation-champ-incorrect" th:if="${#fields.hasErrors('nomClient')}" th:errors="*{nomClient}">Erreur
                    de nom client
                </div>
            </div>
            <div>
                <label for="prenomClient" class="form-label">Prénom du client</label>
                <input id="prenomClient" class="form-control" type="text" th:field="*{prenomClient}"
                       th:classappend="${#fields.hasErrors('prenomClient')} ? 'validation-champ-surimpression'" required>
                <div class="validation-champ-incorrect" th:if="${#fields.hasErrors('prenomClient')}" th:errors="*{prenomClient}">Erreur
                    de prenom client
                </div>
            </div>
            <div>
                <label for="mailClient" class="form-label">Mail du client</label>
                <input id="mailClient" class="form-control" type="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]{2,4}$" th:field="*{mailClient}"
                       th:classappend="${#fields.hasErrors('mailClient')} ? 'validation-champ-surimpression'" oninput="forcerminuscule(this)" required>
                <div class="validation-champ-incorrect" th:if="${#fields.hasErrors('mailClient')}" th:errors="*{mailClient}">Erreur
                    de mail
                </div>
            </div>
            <div>
                <label for="telClient" class="form-label">Téléphone du client</label>
                <input id="telClient" class="form-control" type="tel" th:field="*{telClient}"
                       th:classappend="${#fields.hasErrors('telClient')} ? 'validation-champ-surimpression'" oninput="formatTel(this)" required>
                <div id="telError" class="is-invalid validation-champ-incorrect" th:if="${#fields.hasErrors('telClient')}" th:errors="*{telClient}">Erreur
                    de format de numéro de téléphone
                </div>
                <div id="telExisteError" th:if="${telExisteError != null}" class="is-invalid validation-champ-incorrect">
                    <span th:text="${telExisteError}"></span>
                </div>
            </div>
            <div>
                <label for="status" class="form-label">Statut du client</label>
                <select id="status" class="form-select" th:field="*{clientStatus}">
                    <option th:each="status : ${clientStatuses}" th:value="${status}" th:text="${status}">Status</option>
                </select>
                <div class="validation-champ-incorrect" th:if="${#fields.hasErrors('clientStatus')}" th:errors="*{clientStatus}">Erreur
                    du status du client
                </div>
            </div>

            <div class="my-3 mt-4">
                <h5>Adresse du client</h5>
            </div>
            <div>
                <label for="numeroDeRue" class="form-label">N° de rue</label>
                <input id="numeroDeRue" class="form-control" type="text" th:field="*{adresse.numeroDeRue}"
                       th:classappend="${#fields.hasErrors('adresse.numeroDeRue')} ? 'validation-champ-surimpression'" required>
                <div class="validation-champ-incorrect" th:if="${#fields.hasErrors('adresse.numeroDeRue')}" th:errors="*{adresse.numeroDeRue}">Erreur
                    de numéro de rue dans l'adresse
                </div>
            </div>

            <div>
                <label for="rue" class="form-label">Nom de la rue</label>
                <input id="rue" class="form-control" type="text" th:field="*{adresse.rue}"
                       th:classappend="${#fields.hasErrors('adresse.rue')} ? 'validation-champ-surimpression'" required>
                <div class="validation-champ-incorrect" th:if="${#fields.hasErrors('adresse.rue')}" th:errors="*{adresse.rue}">Erreur
                    du nom de la rue dans l'adresse
                </div>
            </div>

            <div>
                <label for="cp" class="form-label">Code postal</label>
                <input id="cp" class="form-control" type="text" th:field="*{adresse.cp}" placeholder="00000" pattern="[0-9]{5}"
                       th:classappend="${#fields.hasErrors('adresse.cp')} ? 'validation-champ-surimpression'" oninput="formatCp(this)" required>
                <div class="validation-champ-incorrect" th:if="${#fields.hasErrors('adresse.cp')}" th:errors="*{adresse.cp}">Erreur
                    de code postal
                </div>
            </div>

            <div>
                <label for="ville" class="form-label">Ville</label>
                <input id="ville" class="form-control" type="text" th:field="*{adresse.ville}"
                       th:classappend="${#fields.hasErrors('adresse.ville')} ? 'validation-champ-surimpression'" required>
                <div class="validation-champ-incorrect" th:if="${#fields.hasErrors('adresse.ville')}" th:errors="*{adresse.ville}">Ville inconnue
                </div>
            </div>
            <div class="col-md-5">
                <label for="pays" class="form-label">Pays</label>
                <select class="form-select" id="pays" th:field="*{adresse.pays}" required>
                    required>
                    <option th:each="pays : ${paysList}"
                            th:value="${pays}"
                            th:text="${pays}"
                            th:if="${pays} == ${valeurPaysParDefaut}" selected="selected">
                    </option>
                    <option th:each="pays : ${paysList}"
                            th:value="${pays}"
                            th:text="${pays}"
                            th:unless="${pays} == ${valeurPaysParDefaut}">
                    </option>
                </select>
            </div>

            <hr class="my-4 mt-5">
            <button class="w-100 btn btn-primary btn-lg " type="submit">Valider</button>
        </form>
    </main>
</div>
</body>
</html>
