<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="Client"></title>
</head>

<body>
<div layout:fragment="content">
    <main class="container mt-5">
        <h6 class="mb-5">
            <a th:href="@{/clients}">Retour à la liste des clients
            </a>
        </h6>
        <h2>Détails du client</h2>

        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="container-fluid ">
                <h1 class="display-5 fw-bold text-center pb-4 h1-titre-trop-long">[[${#strings.toUpperCase(client.nomClient)}]] &nbsp;
                    [[${#strings.toUpperCase(client.prenomClient)}]]</h1>
                <p class="col-md-8 fs-4 fst-italic">id : [[${client.id}]]</p>
                <p class="col-md-8 fs-4">Nom : [[${#strings.capitalize(client.nomClient)}]]</p>
                <p class="col-md-8 fs-4">Prénom : [[${#strings.capitalize(client.prenomClient)}]]</p>
                <p class="col-md-8 fs-4">Mail : [[${client.mailClient}]]</p>
                <p class="col-md-8 fs-4">Téléphone : [[${client.telClient}]]</p>
                <br>
                <h5 class="pb-2 fst-italic">Adresse</h5>
                <hr class="mt-1 mb-3">
                <p class="col-md-8 fs-5">[[${client.adresse.numeroDeRue}]], &nbsp; [[${client.adresse.rue}]]</p>
                <p class="col-md-8 fs-5">[[${client.adresse.cp}]] - [[${#strings.toUpperCase(client.adresse.ville)}]]</p>
                <p class="col-md-8 fs-5">[[${#strings.toUpperCase(client.adresse.pays)}]]</p>
            </div>
        </div>

        <div class="p-5 mb-4 bg-body-tertiary rounded-3 mt-3">
            <div class="container-fluid ">
                <h5 class="pb-2 text-end fst-italic">Véhicule du propriétaire</h5>
                <h1 class="display-5 fw-bold text-center pb-4 h1-titre-trop-long">[[${#strings.toUpperCase(client.vehicule.immatriculationVehicule)}]]</h1>
                <p class="col-md-8 fs-4 fst-italic">id : [[${client.vehicule.id}]]</p>
                <p class="col-md-8 fs-4">Immatriculation : [[${client.vehicule.immatriculationVehicule}]]</p>
                <p class="col-md-8 fs-4">Date de mise en circulation : [[${#temporals.format(client.vehicule.dateMiseEnCirculationVehicule,
                    'dd MMMM yyyy')}]]</p>
                <p class="col-md-8 fs-4">Status du vehicule : [[${client.vehicule.vehiculeStatus}]]</p>
            </div>
        </div>
    </main>
</div>
</body>
</html>
