<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="webjars/bootstrap/5.3.2/css/bootstrap.min.css">
    <title th:text="Client"></title>
</head>

<body>

<div th:fragment="content">
    <article class="media block">

        <h1>Un garage</h1>
        <a th:text="Retour" th:href="@{/clients}"></a>

        <div class="row">
            <div class="col-md-6">
                <h3>Information client</h3>
                <p>id : [[${client.id}]]</p>
                <p>nom du client : [[${client.nomClient}]]</p>
                <p>prenom du client : [[${client.prenomClient}]]</p>
                <p>Mail du client : [[${client.mailClient}]]</p>
                <p>Tel du client : [[${client.telClient}]]</p>
            </div>
            <div class="col-md-6">
                <h4>Adresse du client</h4>
                <p>N° de rue : [[${client.adresse.numeroDeRue}]]</p>
                <p>Nom de rue : [[${client.adresse.rue}]]</p>
                <p>CP : [[${client.adresse.cp}]] </p>
                <p>Ville : [[${client.adresse.ville}]]</p>
            </div>
        </div>
    </article>
</div>
</body>

</html>
