<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Creation Garage</title>
</head>

<body>
<div layout:fragment="content">
    <main class="container mt-5">

        <h6><a th:href="@{/garages}">Retour aux garages</a></h6>

        <div class="mt-lg-5">
            <h3>Création d'un garage</h3>
        </div>

        <form action='#' th:action="@{/createGarage}" method='post' class="box" th:object="${garageDTO}">

            <div>
                <label for="nomGarage" class="form-label">Nom du garage</label>
                <input th:classappend="${#fields.hasErrors('nomGarage')} ? 'validation-champ-surimpression'" id="nomGarage" class="form-control" type="text"
                       th:field="*{nomGarage}" required>
                <div class="validation-champ-incorrect" th:if="${#fields.hasErrors('nomGarage')}" th:errors="*{nomGarage}">Erreur
                    de nom
                </div>
            </div>
            <div>
                <label for="mailResp" class="form-label">Mail du responsable</label>
                <input id="mailResp" class="form-control" type="email" th:field="*{mailResp}" pattern="[^@\s]+@[^@\s]+\.[^@\s]{2,4}$" oninput="forcerminuscule(this)" required>
                <div class="validation-champ-incorrect" th:if="${#fields.hasErrors('mailResp')}" th:errors="*{mailResp}">Erreur
                    de mail
                </div>
            </div>

            <!--            <hr class="my-4 mt-8">-->
            <div class="my-3 mt-4">
                <h5>Adresse du client</h5>
            </div>
            <div>
                <label for="numeroDeRue" class="form-label">N° de rue</label>
                <input id="numeroDeRue" class="form-control" type="text" th:field="*{adresse.numeroDeRue}" required>
                <div class="validation-champ-incorrect" th:if="${#fields.hasErrors('adresse.numeroDeRue')}" th:errors="*{adresse.numeroDeRue}">Erreur
                    de numéro de rue dans l'adresse
                </div>
            </div>

            <div>
                <label for="rue" class="form-label">Nom de la rue</label>
                <input id="rue" class="form-control" type="text" th:field="*{adresse.rue}" th:classappend="${#fields.hasErrors('adresse.rue')} ? 'validation-champ-surimpression'" required>
                <div class="validation-champ-incorrect" th:if="${#fields.hasErrors('adresse.rue')}" th:errors="*{adresse.rue}">Erreur
                    du nom de la rue dans l'adresse
                </div>
            </div>

            <div>
                <label for="cp" class="form-label">Code postal</label>
                <input id="cp" class="form-control" type="text" th:field="*{adresse.cp}" placeholder="12345" pattern="[0-9]{5}" oninput="formatCp(this)" required>
                <div class="validation-champ-incorrect" th:if="${#fields.hasErrors('adresse.cp')}" th:errors="*{adresse.cp}">Erreur
                    de code postal
                </div>
            </div>

            <div>
                <label for="ville" class="form-label">Ville</label>
                <input id="ville" class="form-control" type="text" th:field="*{adresse.ville}" th:classappend="${#fields.hasErrors('adresse.ville')} ? 'validation-champ-surimpression'" required>
                <div class="validation-champ-incorrect" th:if="${#fields.hasErrors('adresse.ville')}" th:errors="*{adresse.ville}">Ville inconnue
                </div>
            </div>

            <!--                    Alertes-->
            <div th:if="${successMessage}" class="alert-success">
                <p th:text="${successMessage}">Success</p>
            </div>
            <div th:if="${errorMessage}" class="alert-danger">
                <p th:text="${errorMessage}">Error</p>
            </div>
            <hr class="my-4 mt-5">
            <button class="w-100 btn btn-primary btn-lg " type="submit">Valider</button>
        </form>
    </main>
</div>
</body>
</html>
