<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Creation Client</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content">

    <div class="container">
        <!--        <h2>CREATION</h2>-->

        <form action='#' th:action="@{/createClient}" method='post' class="box" th:object="${clientDTO}">

            <div class="field">
                <label class="label">nom client</label>
                <div class="control">
                    <input class="input" type="text" th:field="*{nomClient}">
                </div>
                <!--				<div class="message is-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">-->
            </div>
            <div class="field">
                <label class="label">prenom client</label>
                <div class="control">
                    <input class="input" type="text" th:field="*{prenomClient}">
                </div>
                <!--				<div class="message is-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">-->
            </div>

            <div class="field">
                <label class="label">mail</label>
                <div class="control">
                    <input class="input" type="email" th:field="*{mailClient}">
                </div>
                <!--				<div class="message is-danger" th:if="${#fields.hasErrors('password1')}" th:errors="*{password1}">-->
            </div>
            <div class="field">
                <label class="label">telephone</label>
                <div class="control">
                    <input class="input" type="tel" th:field="*{telClient}">
                </div>
                <!--				<div class="message is-danger" th:if="${#fields.hasErrors('password1')}" th:errors="*{password1}">-->
            </div>
            <div class="field">
                <label class="label">N° de rue</label>
                <div class="control">
                    <input class="input" type="text" th:field="*{adresse.numeroDeRue}">
                </div>
                <!--				<div class="message is-danger" th:if="${#fields.hasErrors('password1')}" th:errors="*{password1}">-->
            </div>
            <div class="field">
                <label class="label">Nom de rue</label>
                <div class="control">
                    <input class="input" type="text" th:field="*{adresse.rue}">
                </div>
                <!--				<div class="message is-danger" th:if="${#fields.hasErrors('password1')}" th:errors="*{password1}">-->
            </div>
            <div class="field">
                <label class="label">CP</label>
                <div class="control">
                    <input class="input" type="text" th:field="*{adresse.cp}">
                </div>
                <!--				<div class="message is-danger" th:if="${#fields.hasErrors('password1')}" th:errors="*{password1}">-->
            </div>
            <div class="field">
                <label class="label">Ville</label>
                <div class="control">
                    <input class="input" type="text" th:field="*{adresse.ville}">
                </div>
                <!--				<div class="message is-danger" th:if="${#fields.hasErrors('password1')}" th:errors="*{password1}">-->
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Submit</button>
                </div>
            </div>

        </form>
    </div>
</div>
</body>


</html>
