<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erreur</title>
</head>
<body>
<div layout:fragment="content">
    <main class="container">
        <div th:if="${errorMessage}" th:class="'alert ' + ${alertClass}">
            <h1  class="fw-bold fs-6 text-center" th:text="${errorMessage}"></h1>
        </div>
        <h4 class="text-center"><a th:href="${urlRedirection}">Retour </a></h4>
    </main>
</div>
</body>
</html>
