<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Garages</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
</head>
<body>
<div layout:fragment="content">

    <main class="container">
        <div class="ps-3">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>numero</th>
                            <th>rue</th>
                            <th>CP</th>
                            <th>Ville</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="g:${garages}">

                            <td th:if="${g.id != null}">
                                <a href="#" th:href="@{/garage/{id}(id=${g.id})}" class="text-decoration-none">[[${g.id}]]</a>
                            </td>
                            <td th:if="${g.id == null}" class="text-decoration-none">N/A</td>
                            <td><a href="#" th:href="@{/garage/{id}(id=${g.id})}" class="text-decoration-none">[[${g.nomGarage}]]</a></td>
                            <td><a href="#" th:href="@{/garage/{id}(id=${g.id})}" class="text-decoration-none">[[${g.mailResp}]]</a></td>
                            <td th:if="${g.adresse != null}" th:text="${g.adresse.numeroDeRue}" class="ps-2"></td>
                            <td th:if="${g.adresse == null}" class="ps-2">N/A</td>
                            <td th:if="${g.adresse != null}" th:text="${g.adresse.rue}" class="ps-2"></td>
                            <td th:if="${g.adresse == null}" class="ps-2">N/A</td>
                            <td th:if="${g.adresse != null}" th:text="${g.adresse.cp}" class="ps-2"></td>
                            <td th:if="${g.adresse == null}" class="ps-2">N/A</td>
                            <td th:if="${g.adresse != null}" th:text="${g.adresse.ville}" class="ps-2"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>


