<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <link th:href="@{/css/headers}" rel="stylesheet">
</head>

<body>
<div th:fragment="headerFragment">

    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                <!-- Menu principal-->
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a class="nav-link px-2 link-primary" href="#" th:href="@{/}">Accueil</a></li>
                    <li><a href="#" class="nav-link px-2 link-body-emphasis" th:href="@{/dossiers}">Dossiers</a></li>
                    <li><a href="#" class="nav-link px-2 link-body-emphasis" th:href="@{/vehicules}">Vehicules</a></li>
                    <li><a href="#" class="nav-link px-2 link-body-emphasis" th:href="@{/clients}">Clients</a></li>
                    <li><a href="#" class="nav-link px-2 link-body-emphasis" th:href="@{/documents}">Documents</a></li>
                    <li><a href="#" class="nav-link px-2 link-body-emphasis" th:href="@{/garages}">Garages</a></li>
                </ul>
                <ul class="nav">
                    <!-- 1 Dropdown Creation -->
                    <li class="nav-item dropdown ms-auto">
                        <a class="nav-link dropdown-toggle px-2 link-body-emphasis" href="#" id="dropdownMenu1" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Créer
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a class="dropdown-item" th:href="@{/createDossier}">Créer un dossier</a></li>
                            <li><a class="dropdown-item" th:href="@{/createDocument}">Créer un document</a></li>
                            <li><a class="dropdown-item" th:href="@{/createGarage}">Créer un garage</a></li>
<!--                             <li><a class="dropdown-item" th:href="@{/createVehicule}">Créer un véhicule</a></li>-->
<!--                             <li><a class="dropdown-item" th:href="@{/createClient}">Créer un client</a></li>-->
                        </ul>
                    </li>

                    <!-- 2 Dropdown Recherche -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle px-2 link-body-emphasis" href="#" id="dropdownMenu2" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false" style="margin-left: 50px">
                            Rechercher
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li><a class="dropdown-item" th:href="@{/searchclient}">Rechercher un client</a></li>
                            <li><a class="dropdown-item" th:href="@{/searchvehiculesiv}">Rechercher un véhicule (SIV)</a></li>
                            <li><a class="dropdown-item" th:href="@{/showvehicule}">Rechercher un véhicule (saisie manuelle)</a></li>
                            <li><a class="dropdown-item" th:href="@{/searchvehiculelist}">Rechercher un véhicule (liste déroulante)</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</div>
</body>
</html>
