<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Creation Client</title>
</head>

<body>
<div layout:fragment="content">

    <main class="container mt-5">
        <h6><a th:href="@{/clients}"> Retour à la liste des clients</a></h6>
        <div class="mt-lg-5">
            <h3>Création d'un client</h3>
        </div>

        <form action='#' th:action="@{/createClient}" method='post' th:object="${clientDTO}">
            <div th:replace="fragments/clientPersonal :: client_personal_simple"></div>
            <div th:replace="fragments/addressField :: address_simple"></div>

            <hr class="my-4 mt-5">
            <button class="w-100 btn btn-primary btn-lg " type="submit">Valider</button>
        </form>
    </main>
</div>
</body>
</html>
