/*gestion des tailles de police en fonction de la largeur de l'écran*/
.h1-titre-trop-long {
    font-size: 4vw; /* Ajuste la taille de la police en fonction de la largeur de l'écran */
    word-wrap: break-word; /* Permet au texte de passer à la ligne suivante */
    hyphens: auto; /* Active la césure automatique */
    overflow-wrap: break-word; /* Gère le débordement de texte */

}

.validation-champ-incorrect{
    border-color: #dc3545 !important;
    /*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='0 0 8 8'%3e%3cpath d='M4.293.293a1 1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414l3-3zM4.5 3.5L5 4 4.5 4.5 4 4 4.5 3.5zM4 4L3.5 4.5 3 4 3.5 3.5 4 4z'%3e%3c/path%3e%3c/svg%3e");*/
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    padding: 1.5rem !important;
    font-weight: 700 !important;
    background-color: rgba(220, 53, 69, 0.1) !important;
}

.validation-champ-surimpression{
    /*font-style: italic !important;*/
    background-color: rgba(255, 193, 7, 0.1) !important;
}

@media (min-width: 768px) {
    .h1-titre-trop-long {
        font-size: 2rem; /* Taille de police fixe pour les écrans plus larges */
    }
}
